.Wrapper {
  width: 100%;
  margin: 104px 0;
  text-align: center;
}

@media (--md) {
  .Wrapper {
    width: 100%;
    margin: 56px 0;
    text-align: center;
  }
}

@media (--sm) {
  .Wrapper {
    width: 100%;
    margin: 56px 0;
    text-align: center;
  }
}
