@custom-media --xs (max-width: 480px);
@custom-media --sm (max-width: 767px);
@custom-media --md  (max-width: 1023px);

:root {
  --rgb--main-green: 0, 128, 102;
  --rgb--green-light: 2, 159, 175;
  --rgb--blue: 104, 155, 239;
  --rgb--blue-dark: 3, 146, 192;
  --rgb--yellow: 252, 175, 38;
  --rgb--orange: 255, 123, 27;
  --rgb--grey: 255, 123, 27;
  --color--green: rgb(var(--rgb--main-green));
  --color--green-light: rgb(var(--rgb--green-light));
  --color--blue: rgb(var(--rgb--blue));
  --color--blue-dark: rgb(var(--rgb--blue-dark));
  --color--yellow: rgb(var(--rgb--yellow));
  --color--orange: rgb(var(--rgb--orange));
  --color--grey: #7A7A7A;
}
