@import "./_variables.css";
@import "./_normalize.css";
@import "./_fonts.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-width: 320px;
  min-height: 100%;
  background: #fff;
  color: #000;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: fira_sansregular;
  font-weight: 400;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-family: ibm_plex_serifitalic;
  font-size: 48px;
  font-weight: normal;
  line-height: 48px;
}

h1 span {
  font-family: fira_sansbold;
}
p {
  margin: 0;
}

a {
  color: currentColor;
  outline: none;
  text-decoration: none;
}

a:not([class]) {
  position: relative;
}

button {
  border: 0;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

img:not([class]),
svg:not([class]) {
  display: block;
  max-width: 100%;
}

:global {
  .undefined {
    background: red !important;
    color: red !important;
  }

  .root {
    /* overflow: hidden; */
  }
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (--sm) {
  h1 {
    font-size: 32px;
  }
}
@media (--sm) {
  h1 {
    width: 172px;
    margin: 0 auto;
    font-size: 32px;
  }
}
